header {
  background-color: #000000;
}

footer {
  background-color: rgb(0, 0, 0);
  position: absolute;
  width: 100%;
}

body {
  font-family: "Inter", sans-serif;
  background-color: white;
}

#Fondo-mas-info {
  background-color: #000000;
}

#cuerpo-video {
  background-color: #000000;
}

#botton-mas-info {
  background-color: #ffbf00;
  border: 1px solid #000000;
  color: rgb(0, 0, 0);
  padding: 8px 15px;
  border-radius: 12px;
}

#botton-mas-info:hover {
  background-color: #be8f00;
  align-items: center;
}

#Fondo-info {
  background-color: #000000d1;
}

.p-img {
  height: 100%;
  object-fit: cover;
  filter: brightness(0.6);
  align-items: center;
}

.p-item {
  height: 680px;
}

.validador {
  padding-left: 76px;
  padding-top: 30px;
}

/*  */

.tarjeta-producto {
  border: 2px solid #5f5f5f;
  padding: 10px;
  margin: 10px;
  text-align: center;
  min-height: 250px;
  max-width: 250px;
  display: inline-block;
  border-radius: 6px;
  cursor: pointer;
}

.tarjeta-producto h2 {
  font-size: 1.2em;
  margin-bottom: 5px;
}

.tarjeta-producto p {
  font-size: 1em;
  margin-bottom: 10px;
}

.tarjeta-producto img {
  max-width: 200px;
  margin-bottom: 10px;
}

@media screen and (max-width: 768px) {
  .tarjeta-producto {
    max-width: 100%;
  }
}

#productos-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.tarjeta-producto button {
  background-color: #ffbf00;
  border: 2px solid #000000;
  color: rgb(0, 0, 0);
  padding: 8px 15px;
  border-radius: 18px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.tarjeta-producto button:hover {
  background-color: #be8f00;
  align-items: center;
}

/* Estilo para el contenedor principal */
#productList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* Estilo para las tarjetas de productos */
.product-card {
  border: 2px solid #5f5f5f;
  padding: 10px;
  margin: 10px;
  text-align: center;
  min-height: 250px;
  max-width: 250px;
  display: inline-block;
  border-radius: 6px;
  cursor: pointer;
}

.product-card h3 {
  font-size: 1.2em;
  margin-bottom: 5px;
}

.product-card p {
  font-size: 1em;
  margin-bottom: 10px;
}

.product-card img {
  max-width: 200px;
  margin-bottom: 10px;
}

/* Estilo para el botón de agregar al carrito */
.product-card button {
  background-color: #ffbf00;
  border: 2px solid #000000;
  color: rgb(0, 0, 0);
  padding: 8px 15px;
  border-radius: 18px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.product-card button:hover {
  background-color: #be8f00;
}

/*  */

.contact-form {
  max-width: 400px;
  margin: 20px auto;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form {
  text-align: left;
}

label,
input,
textarea {
  display: block;
  margin-bottom: 10px;
}

#contactForm label,
#contactForm input,
#contactForm textarea,
#contactForm button {
  width: 100%;
  margin-bottom: 10px;
}

#contactForm button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

/*darkmode  */

#dark-mode-toggle {
  background-color: #333;
  color: #fff;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 5px;
}
body.dark-mode {
  background-color: #121212;
  color: #ffffff;
}
